<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../css/style.css">
    <title>cedup</title>
</head>
<body>
  <div class="container">
    <div class="row w-100 d-flex">
      <img src="../img/Logo cedup.png" class="col-2">
      <h2 class="col-8">Cedup-Centro de Educação Profissional</h2>
    </div>
    <br/>

    <div class="box border-radius row w-100">
      <ul>
          <li><a href="menu.html">Home</a></li>
          
          <li><a href="Horarios.html">Horarios</a></li>

          <li><a href="app.html">APP</a></li>
         
          <li><a href="extensoes cedup.html">Extensoes cedup</a></li>
         
          <li><a href="comunicados.html">Comunicados</a></li>
         

          <li><a href="NovosCaminhos.html">Novos Caminhos</a></li>

          <div class="dropdown">
            <button class="dropbtn">Mais</button>
            <div class="dropdown-content">
              <a href="cursos técnicos.html">Cursos Técnicos</a>
              <a href="Emiep.html">EMIEP</a>
             <a href="eventos.html">Eventos</a>
             <a href="instituição.html">Instituição</a>
             <a href="alunos.html">Alunos</a>
             <a href="professores.html">Professores</a>
             <a href="secretaria.html">Secretaria</a>
            </div>
          </div>

          <input type="text" placeholder="🔍Pesquisar" class="border-radius barra">
      </ul>
    </div>
  </div>
      <br>
      <br>

      <div class="ext">
        <h1>Menu do Aluno<br>abaixo</h1> 
        <br> 
        <nav class="dp-menu">
          <ul>  
            <li><a href="#">Mais↓ </a>
            <ul>
              <li><a href="biblioteca.html">Biblioteca</a></li>
              <li><a href="estagio.html">Estágio</a></li>
              <li><a href="emprego.html">Vagas de Emprego</a></li>
              <li><a href="enem.html">Enem</a></li>
              <li><a href="cardapio.html">Cardapio Escolar</a></li>
              
            </li>
          </ul>
          </ul>
  </nav>
  </div>