<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../css/style.css">
    <title>cedup</title>
</head>
<body>
  <div class="container">
    <div class="row w-100 d-flex">
      <img src="../img/Logo cedup.png" class="col-2">
      <h2 class="col-8">Cedup-Centro de Educação Profissional</h2>
    </div>
    <br/>

    <div class="box border-radius row w-100">
      <ul>
          <li><a href="menu.html">Home</a></li>
          
          <li><a href="Horarios.html">Horarios</a></li>

          <li><a href="app.html">APP</a></li>
         
          <li><a href="extensoes cedup.html">Extensoes cedup</a></li>
         
          <li><a href="comunicados.html">Comunicados</a></li>
         

          <li><a href="NovosCaminhos.html">Novos Caminhos</a></li>

          <div class="dropdown">
            <button class="dropbtn">Mais</button>
            <div class="dropdown-content">
              <a href="cursos técnicos.html">Cursos Técnicos</a>
              <a href="Emiep.html">EMIEP</a>
             <a href="eventos.html">Eventos</a>
             <a href="instituição.html">Instituição</a>
             <a href="alunos.html">Alunos</a>
             <a href="professores.html">Professores</a>
             <a href="secretaria.html">Secretaria</a>
            </div>
          </div>

          <input type="text" placeholder="🔍Pesquisar" class="border-radius barra">
      </ul>
    </div>
  </div>
  
      <h1>APP CEDUP JOINVILLE</h1>

      <div class="ext">
        <h6>EQUIPE GESTÃO 2021/2022</h6>
        <img src="https://lh6.googleusercontent.com/sqvvUNTkYUVT1LOIVc6Dz9Y8E5qfZyIBju7UWsrDucljcQM0qUfSlwt6QM1ORDgLITLneBqBxVV2YSyEDJJfxPye3Zd4MLVVeL-kIkg9MFfcqJq8YNcmMuJjPBDZPhJJDw=w1280" id="ext">
      </div>
     
        <h1>Prestação de contas APP Cedup Joinville</h1>

        <div class="ext">
          <h5>PRESTAÇÃO DE CONTAS AGOSTO 2022</h5>
          <iframe src="https://drive.google.com/file/d/1JcVWyxBGlZVF0xYdwvQkV2bQsOhfdfPE/preview" id="ext"></iframe>
        </div>

        <div class="ext">
          <h5>PRESTAÇÃO DE CONTAS JULHO 2022</h5>
          <iframe src="https://drive.google.com/file/d/1nfs2W0awG8KPGSjMJUaqZ8B70Ma3hoXN/preview" id="ext"></iframe>
        </div>

        <div class="ext">
          <h5>PRESTAÇÃO DE CONTAS JUNHO 2022</h5>
          <iframe src="https://drive.google.com/file/d/10UEvkOcYGHxKXAKD3oAItV4V23_b76p-/preview" id="ext"></iframe>
        </div>
        
        
</body>
</html>