<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../css/style.css">
    <title>cedup</title>
</head>
<body>
  <div class="container">
    <div class="row w-100 d-flex">
      <img src="../img/Logo cedup.png" class="col-2">
      <h2 class="col-8">Cedup-Centro de Educação Profissional</h2>
    </div>
    <br/>

    <div class="box border-radius row w-100">
      <ul>
          <li><a href="menu.html">Home</a></li>
          
          <li><a href="Horarios.html">Horarios</a></li>

          <li><a href="app.html">APP</a></li>
         
          <li><a href="extensoes cedup.html">Extensoes cedup</a></li>
         
          <li><a href="comunicados.html">Comunicados</a></li>
         

          <li><a href="NovosCaminhos.html">Novos Caminhos</a></li>

          <div class="dropdown">
            <button class="dropbtn">Mais</button>
            <div class="dropdown-content">
              <a href="cursos técnicos.html">Cursos Técnicos</a>
              <a href="Emiep.html">EMIEP</a>
             <a href="eventos.html">Eventos</a>
             <a href="instituição.html">Instituição</a>
             <a href="alunos.html">Alunos</a>
             <a href="professores.html">Professores</a>
             <a href="secretaria.html">Secretaria</a>
            </div>
          </div>

          <input type="text" placeholder="🔍Pesquisar" class="border-radius barra">
      </ul>
    </div>
  </div>
      <br>
      <br>
    <h1>Técnico em Contabilidade</h1>
    <br><br/>

  <div class="ext">
    <h1>OBJETIVO DO CURSO</h1>
    <p>Oferecer condições ao aluno para que desenvolva as competências profissionais necessárias exercendo atividades em serviços contábeis, utilizando instrumentos de planejamento, bem como executar, controlar e avaliar os procedimentos de Recursos Humanos, Financeiro, Fiscal e Contábil. Contribuir para o desempenho do ser humano de maneira integral (cidadania, ética e respeito para com o meio ambiente).</p>


    <h1>REQUISITOS DE ACESSO</h1>
    <p>Ser egresso do Ensino Médio e/ou estar cursando a partir do terceiro ano.</p> 


    <h1>PERFIL PROFISSIONAL DE CONCLUSÃO</h1>
    <p>O Técnico em Contabilidade terá condições de unir os conhecimentos operacionais e tecnológicos da profissão para atuar nas áreas fiscais, financeira, recursos humanos e Contábil em qualquer organização pública e privada, podendo discutir, opinar, dar embasamento técnico nos relatórios de análise, colaborando na evolução das organizações tornando-as mais competitivas.
    Estará capacitado e habilitado ao exercício profissional, dotado de senso analítico e crítico em consonância com os valores éticos, espírito de equipe e de preocupação com o meio ambiente e ciente de suas responsabilidades perante a sociedade.</p>


    <h1>ORGANIZAÇÃO CURRICULAR</h1>
    <p>O Curso Técnico em Contabilidade, eixo tecnológico de Gestão e Negócios observa as determinações legais presentes nas Diretrizes Curriculares Nacionais para a Educação Profissional de Nível Técnico, nos Referenciais Curriculares Nacionais da Educação Profissional, no Decreto 5154/2004, no Catálogo Nacional de Cursos Técnicos, bem como nas diretrizes definidas no projeto político pedagógico.<p>
    MATRIZ CURRICULAR DO CURSO TÉCNICO EM CONTABILIDADE</p>

    <iframe src="https://docs.google.com/spreadsheets/d/16LLeC5jzHoEkDNy7F18DnOejFkeOGVH4KcXuMxoLUuE/edit#gid=0" id="ext"></iframe>
    </div>
