<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../css/style.css">
    <title>cedup</title>
</head>
<body>
  <div class="container">
    <div class="row w-100 d-flex">
      <img src="../img/Logo cedup.png" class="col-2">
      <h2 class="col-8">Cedup-Centro de Educação Profissional</h2>
    </div>
    <br/>

    <div class="box border-radius row ">
      <ul>
          <li><a href="menu.html">Home</a></li>
          
          <li><a href="Horarios.html">Horarios</a></li>

          <li><a href="app.html">APP</a></li>
         
          <li><a href="extensoes cedup.html">Extensoes cedup</a></li>
         
          <li><a href="comunicados.html">Comunicados</a></li>
         

          <li><a href="NovosCaminhos.html">Novos Caminhos</a></li>

          <div class="dropdown">
            <button class="dropbtn">Mais</button>
            <div class="dropdown-content">
              <a href="cursos técnicos.html">Cursos Técnicos</a>
              <a href="Emiep.html">EMIEP</a>
             <a href="eventos.html">Eventos</a>
             <a href="instituição.html">Instituição</a>
             <a href="alunos.html">Alunos</a>
             <a href="professores.html">Professores</a>
             <a href="secretaria.html">Secretaria</a>
            </div>
          </div>

          <input type="text" placeholder="🔍Pesquisar" class="border-radius barra barra">
      </ul>
    </div>
  </div>
  
      <h1>Novidades</h1>

      <div class="nov">
        <h6>PASSO A PASSO DE COMO ACESSAR O ESTUDANTE ONLINE</h6>
        <iframe src="https://drive.google.com/file/d/1JAcjoCdAdSZCXyU-6X8s-KTbmKRdJkC6/preview" id="link"></iframe>
      </div>
      
      <div class="nov">
        <h6>EDITAL 1809 - DE CONTATAÇÃO DE PROFESSORES PARA O PROGRAMA NOVOS CAMINHOS - MEDIOTEC
          Confira no edital o link do edital 10579 para detalhes.</h6>
        <iframe src="https://drive.google.com/file/d/1bV06OMMhmAQLxcgn02V2kRhH2tn_pS_-/preview" id="link"></iframe>
      </div>

      <div class="nov">
        <h6>Jornal Cedupense Edição 002</h6>
        <iframe src="https://drive.google.com/file/d/1ybAYOeX8pSJrAhde9uEe7OiZfryXai9w/preview" id="link"></iframe>
      </div>
    
      <div class="nov">
        <h6>RELAÇÃO DE NOVAS TURMAS PARA O SEGUNDO SEMSTRE 2022 - CEDUP
        "Aguarde a publicação do edital em breve"</h6>
        <iframe src="https://drive.google.com/file/d/1SVExzr22EdesLx1kapV0Qz2gAz7p0uKJ/preview" id="link"></iframe>
      </div>
 
      <div class="nov">
        <h6>Jornal Cedupense Edição 001</h6>
        <iframe src="https://drive.google.com/file/d/1ybAYOeX8pSJrAhde9uEe7OiZfryXai9w/preview" id="link"></iframe>
      </div>

      <div class="nov">
        <h6>MÊS DE COMBATE À VIOLÊNCIA CONTRA A MULHER - RESULTADO AGOSTO LILÁS</h6>
        <iframe src="https://drive.google.com/file/d/1R5Cjn3a3esznlSovfyjitRPrX2gdyJ4M/preview" id="link"></iframe>
      </div> 

      <div class="nov">
<h1>videos</h1>
<iframe src="https://drive.google.com/file/d/1v_pAqHx-OFiiicMldr8tq3w4XkmxEm9G/preview" id="link"></iframe>
<iframe src="//drive.google.com/file/d/1v_pAqHx-OFiiicMldr8tq3w4XkmxEm9G/preview" id="link"></iframe>

 




      </div>
    

</body>
</html>