<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../css/style.css">
    <title>cedup</title>
</head>
<body>
  <div class="container">
    <div class="row w-100 d-flex">
      <img src="../img/Logo cedup.png" class="col-2">
      <h2 class="col-8">Cedup-Centro de Educação Profissional</h2>
    </div>
    <br/>

    <div class="box border-radius row w-100">
      <ul>
          <li><a href="menu.html">Home</a></li>
          
          <li><a href="Horarios.html">Horarios</a></li>

          <li><a href="app.html">APP</a></li>
         
          <li><a href="extensoes cedup.html">Extensoes cedup</a></li>
         
          <li><a href="comunicados.html">Comunicados</a></li>
         

          <li><a href="NovosCaminhos.html">Novos Caminhos</a></li>

          <div class="dropdown">
            <button class="dropbtn">Mais</button>
            <div class="dropdown-content">
              <a href="cursos técnicos.html">Cursos Técnicos</a>
              <a href="Emiep.html">EMIEP</a>
             <a href="eventos.html">Eventos</a>
             <a href="instituição.html">Instituição</a>
             <a href="alunos.html">Alunos</a>
             <a href="professores.html">Professores</a>
             <a href="secretaria.html">Secretaria</a>
            </div>
          </div>

          <input type="text" placeholder="🔍Pesquisar" class="border-radius barra">
      </ul>
    </div>
  </div>

  <h1>PPP - Projeto Político Pedagógico</h1>
  <div class="ext">
    <h1>SIGNIFICADO</h1>
    <p>Projeto – Reúne propostas de ação concreta a executar durante determinado período de tempo.<P>
      Político – Considera a escola como um espaço de formação de cidadãos conscientes, responsáveis e críticos, que atuarão individual e coletivamente na sociedade, modificando os rumos que ela vai seguir.<P>
      Pedagógico – Define e organiza as atividades e os projetos educativos necessários ao processo de ensino e aprendizagem.</p>


    <h1>BASE LEGAL</h1>
    <p>Inciso I do art. 12 da Lei n.º 9.394/96 (LDB - Lei de Diretrizes e Bases da Educação) e na Resolução CEE/SC n.º 182/2013, de 19.11.2013 - respeitadas as normas comuns e as do sistema estadual de ensino.</p> 


    <h1>FUNÇÕES</h1>
    <p>Diagnóstico e análise da realidade da escola.<P>
      Definição de objetivos e metas que atendam à política e às diretrizes que a determinam adequando-as às intenções, expectativas e decisões da equipe da escola.<p>
      Determinação de atividades e tarefas a serem desenvolvidas elegendo as prioridades e descrevendo as condições e os recursos disponíveis (humanos, materiais e financeiros).<P>
       

    <h1>ETAPAS</h1>
    <p>Elaboração – A finalidade da escola e seu ambiente interno e externo. Como expectativa de futuro, a finalidade orienta a definição da filosofia, das políticas e objetivos institucionais.<p>
      Acompanhamento – Organiza as condições para a efetivação do PPP.<p>
      Avaliação – Revela os reais objetivos, a coerência entre o discurso e a prática, entre as demandas da sociedade e a ação educacional.<p><p>
      
      O Regimento Escolar (em construção) está disponível em https://drive.google.com/file/d/1hwFrmhTtfAabuA6zuCz27fRjq12YSxWd/view?ts=5b325757</p>

      <h1>APROVAÇÃO E CONSOLIDAÇÃO</h1>
      <p>Estamos na etapa de consolidação do PPP do CEDUP, que foi aprovado em 15.05.2018 pelo Conselho Deliberativo Escolar. Até o dia 30.05.2018 toda a comunidade escolar ainda poderá participar da construção desse documento incluindo, adaptando ou excluindo algum item, para participar basta preencher o formulário disponível no link abaixo:<p>
       <a>//docs.google.com/a/cedup.com.br/forms/d/1C3_qWeR2twYugEBpo66PviJ_IJPK8PYRtfzovXYUEug/viewform?edit_requested=true</a>

          
         <h1>REFERÊNCIAS</h1>
         <p>BORDIGON, Genuíno; GRACINDO, Regina V. A nova LDB e a política de formação de professores: um passo à frente e dois atrás. In: FERREIRA, N. S. C.; AGUIAR, M. da S. (Orgs.) Gestão da educação: impasses, perspectivas e compromissos. São Paulo: Cortez, 2000.<P>
          BRASIL. Lei de Diretrizes e Bases da Educação Nacional: LDB n.º 9394/1996. Brasília: Senado Federal, Centro Gráfico, 1996.<P>
          GADOTTI, Moacir. Escola cidadã. Coleção questões da nossa época. 7.ª ed. São Paulo: Cortez, 2001.<P>
          LIBÂNEO, José Carlos. Organização e gestão da escola: teoria e prática. 4.ª ed. Goiânia: Alternativa, 2004.<P>
          LOPES, Noêmia. O que é o projeto político pedagógico, 2013. Disponível em: <http://gestaoescolar.abril.com.br/aprendizagem/projeto-politico-pedagogico-ppp-pratica-610995.shtml></p>

          <h1>DOCUMENTO</h1>

          <p id="p">PPP 2022 abaixo:</p>

    <iframe src="https://docs.google.com/document/d/1_ra7rFKvuv3GAyE5OA9TOY3teHmgsYGVII0nlxVxLN0/preview" id="ext"></iframe>
    </div>

</body>
</html>

