<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../css/style.css">
    <title>cedup</title>
</head>
<body>
  <div class="container">
    <div class="row w-100 d-flex">
      <img src="../img/Logo cedup.png" class="col-2">
      <h2 class="col-8">Cedup-Centro de Educação Profissional</h2>
    </div>
    <br/>

    <div class="box border-radius row w-100">
      <ul>
          <li><a href="menu.html">Home</a></li>
          
          <li><a href="Horarios.html">Horarios</a></li>

          <li><a href="app.html">APP</a></li>
         
          <li><a href="extensoes cedup.html">Extensoes cedup</a></li>
         
          <li><a href="comunicados.html">Comunicados</a></li>
         

          <li><a href="NovosCaminhos.html">Novos Caminhos</a></li>

          <div class="dropdown">
            <button class="dropbtn">Mais</button>
            <div class="dropdown-content">
              <a href="cursos técnicos.html">Cursos Técnicos</a>
              <a href="Emiep.html">EMIEP</a>
             <a href="eventos.html">Eventos</a>
             <a href="instituição.html">Instituição</a>
             <a href="alunos.html">Alunos</a>
             <a href="professores.html">Professores</a>
             <a href="secretaria.html">Secretaria</a>
            </div>
          </div>

          <input type="text" placeholder="🔍Pesquisar" class="border-radius barra">
      </ul>
    </div>
  </div>
      <br>
      <br>
    
<div class="ext">

                <h1>EXPEDIÇÃO DE DOCUMENTAÇÃO SOLICITADA PELOS ALUNOS</h1>
 
        <h2>HISTÓRICO ESCOLAR</h2>
        <p>Todos os documentos devem ser solicitados através do e-mail: secretaria@cedup.com.br<P>
         Os históricos anteriores a 1994 solicitar com 30 dias de antecedência e os de 1994 a 2013 com 2 dias de antecedência da data que ira utilizar (obs: devido divergências no sistemas)</p>
    </br>
            
        <h2>DIPLOMA</h2>
        <p>O diploma deve ser solicitado pelo aluno na secretaria da escola após a conclusão do seu curso (nos casos dos cursos com estagio solicitar somente após o parecer de aprovação do setor de estagio) prazo de entrega do diploma é de 60 a 90 dias.</p>
    </br>
                    
        <h2>TRANSFERÊNCIA DE HORÁRIO</h2>
        <p>É realizada na hora desde que haja a vaga e por ordem de data solicitada e declaração de trabalho. Para os 1º módulos após 15 dias de aulas e com declaração (principalmente no inicio de semestre). Não há mais transferências de um curso para o outro devido a alterações na grade curricular.</p>
    </br>

        <h2>REMATRÍCULA</h2>
        <p>A rematricula para o semestre posterior é realizada geralmente um mês antes do fim do semestre. No período de rematrícula o aluno que tiver com documentação pendente não poderá realizá-la enquanto não regularizar a situação (NÃO DEIXA PRA ULTIMA HORA! Procure a secretaria para verificar se você está pendente com algum documento)</p>
    </br>

        <h2>LISTA DE ESPERA </h2>
        <p>Os alunos que querem retornar aos cursos em andamento devem entrar em contato por telefone ou na secretaria da instituição para deixar seu nome para contato posterior conforme vagas disponíveis.</p>
    </br>

        <h2>ATESTADO DE FREQUÊNCIA</h2>
        <p>A impressão é feita na hora, mas sempre que precisar solicitar com antecedência para não ter imprevistos.</p>
    </br>

        <h2>DISPENSA DE DISCIPLINAS</h2>
        <p>O formulário para dispensa de disciplina fica disponível no início de cada semestre com data publicada no Edital</p>
    </br>
                
</div>
            
</body>
</html>  